
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.yellow{
  color:#2FB69D;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  
}

html {
  /*background: linear-gradient(to bottom right, DarkSlateGray, black) fixed;*/
  background: #17181F;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  overflow-x: hidden;
}
body{
  margin: 0px;
}

.navbar {
    border-radius: 0px;
    overflow: hidden;
    background-color: transparent; 
    width: 100%;
}
.navbar a {
    float: center;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 17.69px;
    color: gray;
    text-align: center;
    padding: 14px 16px;
}
a:hover {
    color: #2FB69D;
}
.sticky {
    position: fixed;
    z-index: 8;
    top: 0;
    width: 100%;
}

.blurry {
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
 -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  padding-bottom: 15px;
  padding-top: 15px;
}

p {
  font-family: 'Oswald';
  color: gray;
  text-align: right;
  
}

h1 {
  /*font-family: 'Oswald';*/
  font-family: 'Druk X';
  /*font-family: 'Teko';*/
  /*font-family: 'Aldrich';*/
  background: -webkit-linear-gradient(left,#8B2FB6 , #2FB69D); /*008B8B*/
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-top: 60px;
  font-style: regular;
  font-size: 50px;
  margin: auto;
  display: block;
  justify-content: center;
}

h2{
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #8B2FB6;
  z-index: 2;
}

h3{
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  color: #5C5C5C;

}

.line{
  position: relative;
  width:85%;
  height:2.5px;
  background: #5C5C5C;
  z-index: 1;
  margin: auto;
  display: block;
  justify-content: center; 
  border-radius: 25px; 
}

.contact_btn{
  background-color: #8B2FB6;
  border-radius: 25px;
  margin: auto;
  display: block;
  justify-content: center;
  width: 50%;
  height: 30px;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: bold;
}

.contact_btn:hover{
  background-color: #8B2FB6;
}

.contact_btn:active{
  background-color: #8a2323;
}

.sub-rect{
  position: relative;
  width: 260px;
  height: 20px;
  top: -35px;
  background: #1a1a1a;
  z-index: 1;
  border-radius: 5px;
  margin: auto;
  display: block;
  justify-content: center;
}

.sub-rect2{
  position: relative;
  width: 260px;
  height: 10px;
  left: 30px;
  top: -20px;
  background: #1a1a1a;
  z-index: 1;
  border-radius: 2.5px;
  margin: auto;
  display: block;
  justify-content: center;
}

.sub-rect3{
  position: relative;
  width: 200px;
  height: auto;
  top: -55px;
  background: #1a1a1a;
  left:100px;
  z-index: 1;
  border-radius: 25px;
  margin: auto;
  display: block;
  justify-content: center;
}

.container{
    display:inline-flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}

header {
  padding-right: 50%;
  padding-left: 50%;
  position: relative;
  z-index: 0;
}

.block-icon{
  display: block;
  justify-content: start; 
}

@font-face {
  font-family: "Druk X";
  src: url("/Fonts/Druk-XCondSuper.otf");
}

.Row {
  display: table;
  width: 100%; /*Optional*/
  border-spacing: 10px; /*Optional*/
  table-layout: unset;
}
.Column {
  display: table-cell;
}

main {
  text-align: center;
  position: relative;
  z-index: 0;
}

.wavey{
  position:relative; 
  z-index: 2;
  top: 0; 
  bottom:0; 
  left:0; 
  right:0;
  height: auto;
}

.spacer {
  height: 300px;
  position: relative;
  z-index: -5;
}

.cursor {
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid gray;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease;
  transition-property: border, transform;
  transform-origin: right;
  backdrop-filter: hue-rotate(180deg);
}

.link-grow {
  transform: scale(1.5);
}
